<IfModule mod_rewrite.c>
    DirectoryIndex index.php
    AddDefaultCharset utf-8

    RewriteEngine on
    Options +FollowSymlinks -MultiViews -Indexes

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?url=$1 [PT,L]
</IfModule>